<h1>More info</h1>
  <h3>Title: <%= @film.title %></h3>
  <h3>Genre: <%= @film.genre.type %></h3>
  <h3>Release Date: <%= @film.release_date %></h3>
  <h3>Rating: <%= @film.rating %></h3>
  <h3>Date Seen: <%= @film.date_seen %></h3>

  <a href='/archive/:id/delete'>Delete</a>
