<h1>Films with a <%= @rating %>* rating</h1>

  <div>
    <% @films.each do |film| %>
    <div class="list">
    <h3>Title: <%= film.title %></h3>

    <h3>Genre: <%= film.genre.type %></h3>

    <h3>Release Date: <%= film.pretty_release_date %></h3>

    <h3>Date Seen: <%= film.pretty_seen_date %></h3>
    </div>
    <% end %>

  </div>
