<h1>Saw</h1>



<div class="search">
<h2>Search by</h2>
  <form action="/films/archive/rating" method="get">
    <div class="select">
      <div>
        <select name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <button class="big-button button">Go</button>
      </div>
    </div>
  </form>

  <form action="/films/archive/genre" method="get">
    <div class="select">
      <div>
      <select name="id">
        <% for genre in @genres %>
        <option value="<%= genre.id %>"> <%= genre.type %></option>
        <% end %>
      </select>
      <button class="big-button button">Go</button>
      </div>
    </div>
  </form>
</div>

<div>
    <% @films.each do |film| %>
    <div class="list">

    <h2><%= film.title %></h2>

    <h3><%= film.genre.type %></h3>

    <h3>Rating: <%= film.rating %>*</h3>

    <form class="action-buttons" action="/films/archive/<%=film.id%>" method="get">
      <button class="big-button button">More</button>
    </form>

    <form class="action-buttons" action="/films/<%=film.id%>/edit" method="get">
      <button class="big-button button">Edit</button>
    </form>

    <form class="action-buttons" action="/films/archive/<%=film.id%>/delete" method="post">
      <input type="hidden" name="_method" value="delete">
      <button class="big-button button">Delete</button>
    </form>

    </div>
    <% end %>
</div>
