<form class="list" action="/films/<%=@film.id%>" method="post">
  <input type="hidden" name="_method" value="put">


  <div class="field-group">
    <label for="title-field" class="label">Title:</label>
    <div class="field">
      <input
        type="text"
        name="title"
        placeholder="Title"
        required
        value="<%= @film.title %>"
      />
   </div>
  </div>


  <div class="field-group">
    <label for="genre-field" class="label">Genre:</label>
    <div class="field">
      <select name="genre_id">
        <% for genre in @genres %>
        <option value="<%= genre.id %>"<%= "selected" if @film.genre_id == genre.id %>> <%= genre.type %></option>
        <% end %>
      </select>
    </div>
  </div>


  <div class="field-group">
    <label for="release_date-field" class="label">Release Date:</label>
    <div class="field">
      <input
        type="date"
        name="release_date"
        placeholder="Release Date"
        value="<%= @film.release_date %>"
      />
    </div>
  </div>


  <div class="field-group">
    <div class="field">
        <input
          type="radio"
          name="seen"
          value="f"
          checked=<%= "checked" if @film.seen == true %>>
          Not Seen
      </div>
      <input
        type="radio"
        name="seen"
        value="t"
        checked<%= "checked" if @film.seen == false %>
        >
        Seen
    </div>
  </div>


  <div class="field-group">
    <label for="rating-field" class="label">Rating:</label>
    <div class="field">
      <input
        type="number"
        name="rating"
        min="1"
        max="5"
        placeholder="Rating"
        value="<%= @film.rating if @film.rating != nil %>"
      />
    </div>
  </div>



  <div class="field-group">
    <label for="date_seen-field" class="label">Date Seen:</label>
    <div class="field">
      <input
        type="date"
        name="date_seen"
        placeholder="Date Seen"
        value="<%= @film.date_seen if @film.date_seen != nil %>"
      />
    </div>
  </div>

  <button class="big-button button">Update</button>
</form>
