<h1>See</h1>

<div class="search">
<h2>Search by</h2>
  <form action="/films/genre" method="get">
    <div class="select">
      <div>
        <select name="id">
          <% for genre in @genres %>
          <option value="<%= genre.id %>"> <%= genre.type%></option>
          <% end %>
        </select>
        <button class="big-button">Go</button>
      </div>
    </div>
  </form>
</div>

<div>
  <% @films.each do |film| %>
  <div class="list">

  <h2><%= film.title %></h2>

  <h3><%= film.genre.type %></h3>

  <h3><%= film.pretty_release_date %></h3>

  <form class="action-buttons" action="/films/<%=film.id%>/edit" method="get">
    <button class="big-button">Edit</button>
  </form>

  <form class="action-buttons" action="/films/<%=film.id%>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
  <button class="big-button">Delete</button>
  </form>

  <form class="action-buttons" action="/films/<%=film.id%>/seen" method="post">
    <input type="hidden" name="_method" value="put">
  <button class="tick">√</button>
  </form>

  </div>
    <% end %>
</div>
